.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainTitle{
  font-size: 60px;
  border-bottom: #cb4335 2px solid;
  border-top: #cb4335 2px solid;
}

.App-link {
  color: #61dafb;
}

.button-primary {
  width: 150px;
  padding: 12px;
  background-color: #cb4335;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold
}

.button-primary:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 700px;
 
}

.product-image {
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #cb4335;
  transition: transform 1s; 
}

.product-image:hover{
  transform: scale(1.5); 
}

.carritoIcono{
  width: 5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
